.inner {
    background: url("./images/construct.jpg") center center;
    height: 50vh;
    position: relative;
}

.banner__info {
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.inner__section {
    display: flex;
    padding: 30px;
}